.idea/
.terraform/
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
/aws/ecs_fargate/modules/ecs-fargate-service/private_location_config.json
/aws/ecs_fargate/modules/ecs-fargate-service/private_location_config.json
/aws/ecs_fargate/modules/ecs-fargate-service/container_definitions.json
